.form-reg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 5;
}
.form-reg__container{
    width: 350px;
    margin: 300px auto 0 auto;
}
.erroStyle{
    display: block;
    margin-bottom: 15px;
    color: red;
    font-size: 12px;
}