.post{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid teal;
    
}:last-child{
    margin-bottom: 0;
}
.post-title{
    font-weight: 600;
}