.form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.form-item {
    input {
        width: 170px;
        height: 40px;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 15px;
    }
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button{
        display: none;
    }
    
}

.form-item__title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-item__btn {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    span{
        display: inline-block;
        margin-top: 6px;
    }
}